<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
		<link rel="stylesheet" href="css/style.css">
		<!--Font awesome CDN-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
		<!--Scroll reveal CDN-->
		<script src="https://unpkg.com/scrollreveal"></script>
		
		<title>HNGi8 Second Assignment</title>

	</head>

	<body>
		<header>
			<div class="container">
				<nav class="nav">
					<div class="menu-toggle">
						<i class="fas fa-bars"></i>
						<i class="fas fa-times"></i>
					</div>
	
					<a href="https://training.zuri.team"><img src="https://res.cloudinary.com/db88ckgtm/image/upload/v1629394235/HNGi8/hng3_qu29bn.jpg" alt="" class="logo"></a>
	
					<ul class="nav-list">
						<li class="nav-item"> <a href="#" id="hero" class="nav-link active">Home</a> </li>
						<li class="nav-item"> <a href="#" class="nav-link">About</a> </li>
						<li class="nav-item"> <a href="#" class="nav-link">Projects</a> </li>
						<li class="nav-item"> <a href="#" class="nav-link">Contact</a> </li>
						<li class="nav-item"> <a href="#" class="nav-link">Sponsor</a> </li>
					</ul>
	
				</nav>
			</div>
	        </header>
	

		<main>
			<section class="hero" id="hero">
				<div class="container">
					<div class="inner-container">
						<div class="my-img">
							<img src="https://res.cloudinary.com/db88ckgtm/image/upload/v1629395961/HNGi8/bggg_2_fnvykb.png" alt="my-img">
						</div>
						<div class="description">
							<div class="firstname"> <span class="firstletter">B</span>abatunde</div>
							<div class="secname">  Arabambi</div>
						</div>
		
						<div class="title">
							<h3>
								I'm a Full-Stack Engineer
							</h3>
						</div>    
		
						<a href="#" type="submit" class="cta-btn btn">hire me</a>
						
					</div>
				</div>
			</section>
	
			
			<section id="about">
				<div class="container">
					<div class="inner-container">
						<h2 class="title">About Me</h2>

						<div class="content">
							<p class="text">
								I am a Software Engineer who is proficient in both
								Frontend and Backend development and also determined
								to be the best I can be in this field. I have 
								extensive knowledge in HTML, CSS, JavaScript,
								Node.Js, MongoDB and React. 
								I also make Design relating to my works.
							</p>
			
							<p class="text">
								As a Software Engineer, I aspire to bring solutions
								chanllenges relating to my skill sets. My skills afford 
								me the opportunity to help people with different backgrounds
								bring their dreams and creative thoughts to life through technology.
							</p>
						</div>
					</div>
				</div>
			</section>
		  
			<section class="projects">
				<h4 class="title">Works</h4>

				<div class="wrapper">
					<div class="project">
						<img src="https://res.cloudinary.com/db88ckgtm/image/upload/v1629403140/HNGi8/4b_cq1alp.png" alt="" class="project">
					</div>

					
					<div class="project">
						<img src="https://res.cloudinary.com/db88ckgtm/image/upload/v1629402362/HNGi8/2_gruxac.png" alt="" class="project">
					</div>
					
					<div class="project">
						<img src="https://res.cloudinary.com/db88ckgtm/image/upload/v1629402362/HNGi8/1_jn8tfw.png" alt="" class="project">
					</div>

					<div class="project">
						<img src="https://res.cloudinary.com/db88ckgtm/image/upload/v1629402358/HNGi8/3_zth4hi.png" alt="" class="project">
					</div>
				</div>
			</section>

			<section class="skills">
				<h4 class="title">Skills</h4>

				<div class="wrapper">
					<div class="project">HTML</div>
					<div class="project">CSS</div>
					<div class="project">REACT</div>
					<div class="project">NODE</div>
					<div class="project">GIT</div>
				</div>
			</section>

			<section class="contact">
				<h4 class="title">Contact Me For Your Next Project</h4>

				<div class="show-text"></div>
				
				<form action="/info" method="POST">
					<input class="first" type="text" placeholder="Firstname" name="userInfo">
					<input class="second" type="text" placeholder="Lastname" name="userInfo">
					<input type="email" placeholder="Email" name="userInfo">
					<input type="submit" class="submit">
				</form>
			</section>

			<section class="sponsor">
				<h4 class="title">Our Sponsors: HNGi8 & ZuriTeam</h4>

				<ul class="spo-items">
					<li class="spo-list"> 
						<a href="https://internship.zuri.team"> 
							<img src="https://res.cloudinary.com/db88ckgtm/image/upload/v1629394235/HNGi8/hng1_m7cshd.jpg" alt=""> 
						</a> 
					</li>
					
					<li class="spo-list"> 
						<a href="https://zuri.team"> 
							<img src="https://res.cloudinary.com/db88ckgtm/image/upload/v1629394235/HNGi8/hng2_ixxvu7.jpg" alt="">
						</a> 
					</li>

					<li class="spo-list"> 
						<a href="https://training.zuri.team"> 
							<img src="https://res.cloudinary.com/db88ckgtm/image/upload/v1629394235/HNGi8/hng3_qu29bn.jpg" alt="">
						</a> 
					</li>
				</ul>
			</section>

			<footer class="footer" id="footer">
				<ul class="social">
					<li> <a href="https://github.com/arabog"><i class="fab fa-github"></i></a></li>
					<li> <a href="#"><i class="fab fa-twitter"></i></a></li>
					<li> <a href="#"><i class="fab fa-linkedin-in"></i></a></li>
				</ul>
				
				
				<div class="container">
					<ul class="footer-wrapper">
						<li class="footer-item">
							<a class="footer-link" href="#">HOME</a>
						</li>
						<li class="footer-item">
							<a class="footer-link " href="#">ABOUT</a>
						</li>
						<li class="footer-item">
							<a class="footer-link " href="#">PROJECTS</a>
						</li>
						<li class="footer-item">
							<a class="footer-link " href="#">CONTACT</a>
						</li>
						<li class="footer-item">
							<a class="footer-link " href="#">SPONSORS</a>
						</li>
					</ul>


				</div>

				<div class="copyright">
					<h5>&copy; iCode-Rx 2021</h5>
				</div>
			</footer>
			
		</main>

		<script src='js/main.js'></script>
	</body>
</html>
